layout {
    gaps 4
    center-focused-column "never"
    background-color "#11111b"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        on
        width 4
        active-color "#0f0f1a99"
        inactive-color "#00000000"
    }
}
