window-rule {
    clip-to-geometry true
    geometry-corner-radius 0 0 12 12
    open-maximized true
}

window-rule {
    match app-id="foot"
    open-maximized false
}

window-rule {
    match app-id="anki"
    open-maximized false
    open-floating true
}
window-rule {
    match app-id="anki" title=".* - Anki$"
    open-maximized true
    open-floating false
}

window-rule {
    match app-id="pinned_image"
    open-floating true
    clip-to-geometry false
    geometry-corner-radius 0
}
